.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1%;
}

.App-Header-h1 {
    font-size: calc(1.375rem + 7vw);
    font-family: serif;
}

.Intro {
    font-size: calc(1.375rem + .5vw);
}