.Input-Section {
    margin-top: 1%;
    display: flex;
    flex-flow: column;
    text-align: center;
    text-align: -webkit-center;
}

.search-button {
    margin-top: 4px;
}

.search-header {
    margin-top: 10px;
}