html,
body,
#root,
.App {
  height: 100%;
}

.App {
  text-align: center;
  background: linear-gradient(to bottom, rgb(212, 196, 179), rgb(231, 222, 212), rgb(255, 255, 255));
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1%;
}

.App-Header-h1 {
  font-size: calc(1.375rem + 7vw);
  font-family: serif;
}

.App-link {
  color: #61dafb;
}

.Input-Section {
  margin-top: 1%;
  display: flex;
  flex-flow: column;
  text-align: center;
  text-align: -webkit-center;
}

.form-control,
#exampleTime {
  width: 50%;
  text-align: center;
  box-shadow: 6px 6px rgb(212, 196, 179);
}

.Intro, .Client-Info, .form-control {
  position: relative;
} 

.Intro {
  font-size: calc(1.375rem + .5vw);
}

.Client-Info {
  font-size: calc(1.1rem + 2vw);
}

.btn {
  padding: 6px 15px;
  margin-top: 20px;
  font-size: 29px;
  background-color: rgb(209, 193, 176);
  color: white;
  border: none;
  box-shadow: 6px 4px #d1cfcd;
}

textarea.form-control {
  min-height: calc(6.5em + .75rem + 2px);
}

.Task-List-Header {
  padding: 15px;
  background-color: rgb(212, 196, 179);
  border-radius: 8px 8px 0px 0px;
  border-bottom: 1px solid black;
}

.Task-List {
  margin: 40px;
  background-color: lightgrey;
  border-radius: 8px 8px 8px 8px;
  ;
}

.footer-copyright {
  font-size: 10px;
  margin-top: 7px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.delete-btn {
  border-radius: 4px;
  border: 1px solid black;
}

.book-background-img {
  position: absolute;
  left: 10%;
  transform: rotate(-15deg);
  color: rgb(252, 236, 219);
}

@media only screen and (max-width: 607px) {
  table {
    font-size: 12px;
  }
}

@media only screen and (max-width: 455px) {
  table {
    font-size: 10px;
  }
}

@media only screen and (max-width: 403px) {
  table {
    font-size: 8px;
  }

  .Task-List {
    overflow: scroll;
  }
}